.about {
    padding-left: 8rem;
    overflow: hidden;
}

.about__title_cntr {
    display: flex;
}

.about__line {
    background-color: var(--accent);
}

.about__title {
    color: var(--accent);
}

.about__content_cntr {
    padding: 1rem 0 0 0;
    display: flex;
    justify-content: space-around;
}

.about__desc_el {
    padding-bottom: 1rem;
    line-height: 1.5rem;
}

.about__technologies_title {
    font-size: var(--fontM);
    font-weight: 300;
    margin: 2rem 0 1rem 0;
}

.about__technologies_cntr {
    display: flex;
    flex-direction: column;
}

.about__attribute_ul {
    width: 100%;
    list-style-image: url('../../assets/list_markers/check-circled-outline.svg');
    text-align: left;
    padding: 0 0 1rem 1.3rem;
}

.about__attribute_el_li {
    line-height: 2rem;
    font-size: var(--fontXS);
    font-family: var(--fonts2);
    transition: all 0.1s ease-in-out;
}

.about__attribute_el_li:hover {
    color: var(--accent);
    list-style-image: url('../../assets/list_markers/check-circled-outline-big.svg');
}

.about__img_wrapper {
    padding-left: 2rem;
    margin: 1rem 0;
}

.about__img_cntr,
.about__img,
.about__img_frame,
.about__img_background {
    width: 220px;
    height: 220px;
    border-radius: var(--border-radius);
}

.about__img_cntr {
    background: content-box linear-gradient(to top left, var(--dark), var(--lightdark));
    position: relative;
}

.about__img {
    opacity: 0.7;
    position: absolute;
    left: -1rem;
    top: -1rem;
    z-index: 3;
}

.about__img:hover {
    opacity: 1;
}

.about__img_frame {
    border: 4px solid var(--accent);
    z-index: 1;
}

.about__img_background {
    position: absolute;
    left: -1rem;
    top: -1rem;
    background-color: var(--lightdark);
    z-index: 2;
}

@media screen and (max-width: 1080px) {
    .about__desc_el {
        padding-bottom: 0;
    }

    .about__img {
        opacity: 1;
    }

    .about__content_cntr {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .about {
        padding-left: 5rem;
    }

    .about__technologies_title {
        font-size: var(--fontS);
    }
}

@media screen and (max-width: 480px) {
    .about {
        padding-left: 2rem;
    }
}