.place {
    display: flex;
    flex-direction: row;
    padding: 4rem 0 2rem 0;
    width: 100%;
    align-items: flex-start;
}

.place__logo {
    border-radius: var(--border-radius);
    max-width: 8rem;
    max-height: 8rem;
    margin-top: 0.4rem;
}

.place__cntr {
    display: flex;
    align-items: center;
}

.place__company {
    max-width: 16rem;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.place__company_name {
    font-size: var(--fontL);
    padding-bottom: 0.4rem;
    white-space: nowrap;
    min-width: 18rem;
}

.place__position {
    font-family: var(--fonts2);
    font-size: var(--fontM);
    font-style: italic;
    font-weight: bold;
    color: var(--accent);
    padding-bottom: 0.3rem;
}

.place__dates {
    font-size: var(--fontXS);
    font-weight: lighter;
}

.place__tasks {
    width: 35rem;
    line-height: 1.6rem;
    font-weight: 300;
    border-radius: var(--border-radius);
    margin-top: 0.4rem;
}

.place__desc {
    background-color: var(--lightdark);
    padding: 1rem 2rem 1rem 3rem;
    border-radius: var(--border-radius);
}

.place__techonologies {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0rem 1rem 0rem;
    font-weight: lighter;
}

.place__techonology {
    padding-right: 1.5rem;
}

.place__techonology:last-child {
    padding-right: 0rem;
}

.project__technologies {
    display: flex;
    justify-content: start;
    width: 120%;
    flex-wrap: wrap;
    padding: 2rem 0 0 0;
}


@media screen and (max-width: 1155px) {

    .place__techonology {
        padding-right: 1rem;
    }
}


@media screen and (max-width: 1100px) {

    .place__techonology {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 900px) {

    .place {
        display: flex;
        flex-direction: column;
    }

    .place__company_name {
        min-width: 10rem;
    }

    .place__tasks {
        max-width: 35rem;
        width: 100%;
        margin-top: 1.5rem;
    }

    .place__desc {
        background-color: var(--lightdark);
        padding: 1rem 1rem 1rem 2rem;
        border-radius: var(--border-radius);
    }
}

/* 
@media screen and (max-width: 985px) {
    .project {
        flex-direction: column;
        align-items: center;
        padding: 2rem 0 32rem 0;
        position: relative;
        margin-bottom: 4rem;
    }

    .project__background {
        display: flex;
        align-items: center;
        position: absolute;
        top: 7rem;
        width: 90%;
    }

    .project__background_img {
        opacity: 1;
    }

    .project__cntr_odd {
        align-items: flex-start;
    }

    .project__details {
        position: absolute;
        top: 17rem;
        z-index: 10;
        background-color: rgba(46, 61, 146, 0.7);
        border-radius: var(--border-radius);
        box-shadow: 5px 5px 5px rgb(1, 1, 33);
        width: 100%;
        margin: auto;
        padding: 1rem 0.8rem 0 1.2rem;

    }

    .project__desc {
        width: 100%;
        padding: 0;
        box-shadow: 0 0 0;
        font-size: var(--fontXS);
        background-color: transparent;
    }

    .project__technology,
    .project__technology_empty {
        padding: 0.1rem 0.5rem;
    }

    .project__technologies {
        width: 100%;
    }

    .project__technologies_odd {
        align-self: flex-start;
    }

    .project__technologies_even {
        justify-content: end;
    }

    .projects__linkIcons_even {
        align-self: flex-end;
    }

}

@media screen and (max-width: 550px) {
    .project {
        padding: 2rem 0 31rem 0;
    }

    .project__details {
        top: 11rem;
    }

    .project__technology,
    .project__technology_empty {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 480px) {
    .project {
        padding: 2rem 0 34rem 0;
    }

    .project__details {
        top: 12rem;
    }
} */