.navbar__nav_elements_cntr {
    display: flex;
    padding-right: 4rem;
    padding-top: 1rem;
}

.navbar__el {
    color: var(--accent);
    font-size: 1.5rem;
    padding: 0 1rem;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    min-width: 3em;
    text-align: right;
    transition: transform 0.5s ease;
}

.navbar__el:hover {
    color: rgb(253, 235, 211);
    transform: scale(1.04);
}

@media screen and (max-width: 1330px) {

    .navbar__nav_elements_cntr {
        padding-right: 1rem;
    }

    .navbar__el {
        padding: 0 0.5rem;
    }
}

@media screen and (max-width: 1170px) {
    .navbar__nav_elements_cntr_ham_active {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        padding-top: 3.4rem;
        text-align: center;
        transition: 0.3s;
        flex-direction: column;
        height: 100vh;
    }

    .navbar__nav_elements_cntr {
        display: none;
    }

    .navbar__el_ham_active {
        text-decoration: none;
        transition: 0.3s ease;
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0 1rem 0;
        background-color: var(--dark);
        font-size: var(--fontM);
    }

    .navbar__el_ham_active:hover {
        font-weight: bold;
    }

    .navbar__el_ham_active:first-child {
        padding-top: 1rem;
    }

    .navbar__el_ham_active:nth-child(4) {
        border: solid var(--accent);
        border-width: 0 0 1px 0;
    }
}